// !Dark

//Main background colors
$background-dark: #0b1d26;

//Buttons

$button-hover-dark: #fbd784;

//text

$text-dark: #fff;
$text-secondary-dark: #fbd784;

// Shadow

$border_shadow_dark: rgba(251, 215, 132, 0.7);

// !Light

//Main background colors
$background-light: #f6f6f7;

//Buttons

$button-hover-light: #616950;

//text

$text-light: #4b533a;
$text-secondary-light: #fbd784;

// Shadow

$border_shadow_light: #eec9b7;
