@use "/src/styles/breakpoints" as *;
@use "/src/styles/mixins" as *;
@use "/src/styles/colors" as *;

.header_container {
  height: 50px;
}

.header_container_dark {
  background-color: $background-dark;
  color: $text-dark;

  box-shadow: 0px 4px 8px $border_shadow_dark;
}

// Light

.header_container_light {
  background-color: $background-light;
  color: $text-light;

  box-shadow: 0px 4px 8px $border_shadow_light;
}

.header_container_colored {
  background-color: $background-colorful;
  color: $text-colorful;

  box-shadow: 0px 4px 8px $border_shadow_light;
}
