@use "./styles/breakpoints" as *;
@use "./styles/mixins" as *;
@use "./styles/colors" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 1.5;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.main_container {
  height: 100vh;
  width: 100%;
}

.main_container_dark {
  background-color: $background-dark;
  color: $text-dark;
}

.main_container_light {
  background-color: $background-light;
  color: $text-light;
}

.main_container_colored {
  background-color: $background-colorful;
  color: $text-colorful;
}
